{% extends "base.html" %}

{% block title %}Angel文学{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
{% endblock %}
{% block content %}
<title>Angel-文学网</title>
<nav class="navbar-collapse collapse" style="text-align: center; height: 80px; background-color: #bee5f9;padding-top: 5px;border: 0px; color: #f8f8f8">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index">Angel-小说</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5" style="color: #f8f8f8">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">首页</a></li>
        <li><a href="/index">热门</a></li>
{#        <li><a href="/index">排行榜</a></li>#}
        <li><a href="/fenlei/都市小说">分类</a></li>
        <li><a href="/fenlei/玄幻小说">玄幻小说</a></li>


        <li class="dropdown" style="color: #f8f8f8">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多标签 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/fenlei/修真小说">修真小说</a></li>
            <li><a href="/fenlei/都市小说">都市小说</a></li>
            <li><a href="/fenlei/网游小说">网游小说</a></li>
              <li><a href="/fenlei/其他小说">更多分类</a></li>
          </ul>
        </li>
      </ul>

      <form action="/sousuo" method="post" class="navbar-form navbar-left" style="padding-left: 250px;">
        <div class="form-group">
          <input type="text" class="form-control" name="gjc" placeholder="搜索书籍" style="border-radius:20px">
        </div>
        <button type="submit" class="btn btn-default" style="border-radius:20px">搜索</button>
      </form>

      <ul class="nav navbar-nav navbar-right" >
          {% if session.get('username') %}
          <li>
              <a>Hello {{ session.get('username') }}</a>
          </li>
              <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/userinfo">个人中心</a></li>
            <li><a href="/xiugaixinxi">修改密码</a></li>
            <li><a href="/xiugaixinxi">修改昵称</a></li>
              <li><a href="/tuichu">退出登录</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/myhistory">我的记录</a></li>
              <li><a href="/mycollection">我的收藏</a></li>
          </ul>
        </li>
          {% else %}
            <li>
              <a href="/reg">注册</a>
          </li>
              <li>
              <a href="/login">登录</a>
          </li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div style="width: 100%; height: 65px; background-color: #f8f8f8; color: #EDFFC8" class="navbar-left" align="center">
    <ul class="nav navbar-nav" style="font-size: 16px; text-align: center">
        <li><a href="#">
            <input class="btn-group" type="text" readonly value="本站导航 >>" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">
        </a></li>
        <li><a href="/fenlei/玄幻小说">
            <input class="btn-group" type="text" readonly value="玄幻小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">
            </a></li>
        <li><a href="/fenlei/修真小说">
            <input class="btn-group" type="text" readonly value="修真小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/都市小说">
            <input class="btn-group" type="text" readonly value="都市小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/历史小说">
            <input class="btn-group" type="text" readonly value="历史小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/网游小说">
            <input class="btn-group" type="text" readonly value="网游小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/科幻小说">
            <input class="btn-group" type="text" readonly value="科幻小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/恐怖小说">
            <input class="btn-group" type="text" readonly value="恐怖小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

        </a></li>
        <li><a href="/fenlei/其他小说">
            <input class="btn-group" type="text" readonly value="其他小说" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">

{#        </a></li>#}
{#        <li><a href="/fenlei/经典">#}
{#            <input class="btn-group" type="text" readonly value="经典" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/言情">#}
{#            <input class="btn-group" type="text" readonly value="言情" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/悬疑">#}
{#            <input class="btn-group" type="text" readonly value="悬疑" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/校园">#}
{#            <input class="btn-group" type="text" readonly value="校园" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/励志">#}
{#            <input class="btn-group" type="text" readonly value="励志" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/成长">#}
{#            <input class="btn-group" type="text" readonly value="成长" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
{#        <li><a href="/fenlei/经济">#}
{#            <input class="btn-group" type="text" readonly value="经济学" style="width: 50px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
{##}
{#        </a></li>#}
        </a>
        </li>
    </ul>
</div>

<div class="navbar-right" align="center" style="text-align: center; width: 27%; margin-right: 10px; margin-top: 20px;">
<div class="panel panel-primary" style="width: 100%">
  <div class="panel-heading">
    更多推荐
  </div>
  <div class="panel-body">
      <a href="/fenlei/小说" style="margin: 20px;">
{#            <input class="btn-group" type="text" readonly value="小说" style="width: 70px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">#}
      推荐列表
      </a>
  </div>
</div>
</div>

<div style="text-align: left; padding-top: 10px; background-color: #e2ddff; margin-top: 65px; width: 70%; border-radius:20px; margin-left: 20px;" align="left" class="left">
    <table border="0px;" style="text-align: center; border-color: #444444; width: 100%; text-align: center; " border="0px;">
        <thead>

        </thead>

        <tbody>
            {% for i in fenlei %}
            <tr style="margin: 20px; padding: 200px; height: 240px;">
                <th width="190px;" height="180px;">
                    <a href="/xiangqing/{{ i.id }}">
                        <img src="{{ i['book_img'] }}" width="190px;"height="230px;">
                    </a>
{#                    {{ i['book_img'] }}#}
                </th>
                <th width="600px;" style="text-align: left">
                    <a href="/xiangqing/{{ i.id }}"><p style="font-size: 20px; font-family: 楷体">
                        {{ i['book_name'] }}<br>
                    </p></a>
{#                </th>#}
{#                <th width="200px;">#}
                    <p style="font-size: 14px; font-family: 宋体; color: #770101">
                        {{ i['book_author'] }}<br>
                    </p>
{#                </th>#}
{#                <th width="450px;">#}
                    <p style="font-size: 14px; font-family: 宋体; color: #1b6d85">
                        &nbsp;&nbsp;{{ i['book_abstract'].replace('&nbsp;','') }}<br>
                    </p>
{#                </th>#}
{#                <th width="200px;">#}
                    <p style="font-size: 14px; font-family: 楷体">
                        <input class="btn-danger" type="text" readonly value="{{ i['book_class'] }}" style="width: 90px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;">
                    </p>
                </th>
            </tr>
            {% endfor %}
        </tbody>

    </table>
<div style="text-align: center; padding-top: 20px; color:#FF0000; padding-bottom: 40px;" >
    {% if page==1%}
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ 1 }}">首页</a></span>
      <span title="当前页">当前页：{{ page }}</span>
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ page+1 }}">下一页</a></span>
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ page_num }}">尾页</a></span>
      <span>总页数：{{ page_num }}</span>
    {% else %}
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ 1 }}">首页</a></span>
      <span title="当前页">当前页：{{ page }}</span>
      <span title="上一页"><a href="/fenlei/{{ fenlei[0].book_class }}/{{ page-1 }}">上一页</a></span>
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ page+1 }}">下一页</a></span>
      <span><a href="/fenlei/{{ fenlei[0].book_class }}/{{ page_num }}">尾页</a></span>
      <span>总页数：{{ page_num }}</span>
    {% endif %}
</div>
</div>
{#<div style="text-align: center; padding-left: 309px; padding-top: 60px;" align="center">#}
{#    <table style="text-align: center; border-color: #0000FF; width: 900px; text-align: center; " border="0px;">#}
{#        <tr style="height: 50px;">#}
{#            <th colspan="5"><p style="font-size: 25px;">当前热门书籍</p></th>#}
{#        </tr>#}
{##}
{#        <tr style="height: 270px;">#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[0].id }}"><img src="{{ fenlei[0].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[0].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[1].id }}"><img src="{{ fenlei[1].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[1].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[2].id }}"><img src="{{ fenlei[2].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[2].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[3].id }}"><img src="{{ fenlei[3].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[3].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[4].id }}"><img src="{{ fenlei[4].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[4].book_name}}</p></a></th>#}
{#        </tr>#}
{#        <tr style="height: 270px;">#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[5].id }}"><img src="{{ fenlei[5].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[5].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[6].id }}"><img src="{{ fenlei[6].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[6].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[7].id }}"><img src="{{ fenlei[7].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[7].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[8].id }}"><img src="{{ fenlei[8].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[8].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[9].id }}"><img src="{{ fenlei[9].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[9].book_name}}</p></a></th>#}
{#        </tr>#}
{##}
{#        <tr style="height: 270px;">#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[10].id }}"><img src="{{ fenlei[10].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[10].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[11].id }}"><img src="{{ fenlei[11].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[11].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[12].id }}"><img src="{{ fenlei[12].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[12].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[13].id }}"><img src="{{ fenlei[13].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[13].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[14].id }}"><img src="{{ fenlei[14].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[14].book_name}}</p></a></th>#}
{#        </tr>#}
{#        <tr style="height: 270px;">#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[15].id }}"><img src="{{ fenlei[15].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[15].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[16].id }}"><img src="{{ fenlei[16].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[16].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[17].id }}"><img src="{{ fenlei[17].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[17].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[18].id }}"><img src="{{ fenlei[18].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[18].book_name}}</p></a></th>#}
{#            <th style="height: 270px; width: 200px;"><a href="/xiangqing/{{ fenlei[19].id }}"><img src="{{ fenlei[19].book_img }}" width="170px;" height="220px;"></img><br>#}
{#                <p style="font-family: Harrington; font-size: 14px;">{{ fenlei[19].book_name}}</p></a></th>#}
{#        </tr>#}
{#    </table>#}
{#</div>#}
{#<div style="width: 20%; height: 50px; background-color: #f8f8f8; color: #EDFFC8" class="navbar-right" align="center">#}


<div class="bottom" style="text-align: center; height: 100px; background-color: #5e5e5e;padding-top: 5px; border: 0px;">
<p style="font-size: 20px;">
    本站仅作学习使用 内容来源网络 与本人无关 若侵权请联系删除
</p>
<p style="font-size: 20px;">
    邮箱：xiaomu041@Gmail.com
</p>
</div>
{% endblock %}