<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
<div id="0ce186fa45dd49c398409ec6aa89a3ad" class="chart-container" style="width:900px; height:500px;"></div>
<script>
    var chart_0ce186fa45dd49c398409ec6aa89a3ad = echarts.init(
        document.getElementById('0ce186fa45dd49c398409ec6aa89a3ad'), 'white', {renderer: 'canvas'});
    var option_0ce186fa45dd49c398409ec6aa89a3ad = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "color": [
            "#c23531",
            "#2f4554",
            "#61a0a8",
            "#d48265",
            "#749f83",
            "#ca8622",
            "#bda29a",
            "#6e7074",
            "#546570",
            "#c4ccd3",
            "#f05b72",
            "#ef5b9c",
            "#f47920",
            "#905a3d",
            "#fab27b",
            "#2a5caa",
            "#444693",
            "#726930",
            "#b2d235",
            "#6d8346",
            "#ac6767",
            "#1d953f",
            "#6950a1",
            "#918597"
        ],
        "series": [
            {
                "type": "pie",
                "clockwise": true,
                "data": [
                    {
                        "name": "\u4e2d\u56fd\u6587\u5b66",
                        "value": 259
                    },
                    {
                        "name": "\u4e92\u8054\u7f51",
                        "value": 147
                    },
                    {
                        "name": "\u52b1\u5fd7",
                        "value": 190
                    },
                    {
                        "name": "\u5386\u53f2\u5730\u7406",
                        "value": 100
                    },
                    {
                        "name": "\u653f\u6cbb\u4e0e\u6cd5\u5f8b",
                        "value": 100
                    },
                    {
                        "name": "\u653f\u6cbb\u5b66",
                        "value": 225
                    },
                    {
                        "name": "\u793e\u4f1a\u79d1\u5b66\u603b\u8bba",
                        "value": 100
                    },
                    {
                        "name": "\u7ecf\u6d4e",
                        "value": 100
                    },
                    {
                        "name": "\u827a\u672f",
                        "value": 100
                    }
                ],
                "radius": [
                    "30%",
                    "75%"
                ],
                "center": [
                    "50%",
                    "50%"
                ],
                "roseType": "area",
                "label": {
                    "show": true,
                    "position": "top",
                    "margin": 8
                }
            }
        ],
        "legend": [
            {
                "data": [
                    "\u4e2d\u56fd\u6587\u5b66",
                    "\u4e92\u8054\u7f51",
                    "\u52b1\u5fd7",
                    "\u5386\u53f2\u5730\u7406",
                    "\u653f\u6cbb\u4e0e\u6cd5\u5f8b",
                    "\u653f\u6cbb\u5b66",
                    "\u793e\u4f1a\u79d1\u5b66\u603b\u8bba",
                    "\u7ecf\u6d4e",
                    "\u827a\u672f"
                ],
                "selected": {},
                "show": true,
                "padding": 5,
                "itemGap": 10,
                "itemWidth": 25,
                "itemHeight": 14
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "showContent": true,
            "alwaysShowContent": false,
            "showDelay": 0,
            "hideDelay": 100,
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0,
            "padding": 5
        },
        "title": [
            {
                "padding": 5,
                "itemGap": 10
            }
        ]
    };
    chart_0ce186fa45dd49c398409ec6aa89a3ad.setOption(option_0ce186fa45dd49c398409ec6aa89a3ad);
</script>
</body>
</html>
