<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

    <title>Angel-文学网</title>
    <link href="/static/css/pintuer.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">

    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?e4b854cd3c899688b4bfee2db7f49d6f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>

</head>

<body>
<div class="container" style=" margin-top:8%;">
    <div class="panel margin-big-top">
        <div class="text-center">
            <br>
            <h2 class="padding-top">
                <stong>服务器出错！！请您刷新页面或稍后再试</stong>
            </h2>
            <div class="">
                <div class="float-left">
                    <img src="/static/css/ds-1.gif">
                    <div class="alert"> 卧槽！出错了！</div>
                </div>
                <div class="float-right">
                    <img src="/static/css/ds-2.png" width="260">
                </div>
            </div>
            <div class="padding-big">
                <a href="/index" class="button bg-yellow">返回首页</a>
                <a href="" class="button">保证不打死管理员</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>