{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <body style="background-image: url('/static/images/4a926626b6b0618ea0636b1c782d6283.png')">

    <div class="container">
        <div style="text-align: center; color: #f8f8f8;  font-size: 14px;width: 800px; margin-top: 25px;
        background-color: slategrey; border-radius:20px;" class="container">
            <hr>
            <p style="font-size: 18px; color: #f8f8f8">
                <a href="/create_book" style="color: #f8f8f8; padding-left: 20px;">|新建图书|</a>
                <a href="/my_book" style="color: #f8f8f8; padding-left: 20px;">|我的作品|</a>
                <a href="/my_fans" style="color: #f8f8f8; padding-left: 20px;">|我的粉丝|</a>
                <a href="/userinfo" style="color: #f8f8f8; padding-left: 20px;">|我的主页|</a>
                <a href="/xiugaixinxi" style="color: #f8f8f8; padding-left: 20px;">|修改信息|</a>
            </p>
            <hr>
        </div>
        <hr>
        <div style="width: 1000px; background-color: #3c763d; height: 460px; text-align: center; border-radius: 20px;"
             class="container">
            {#               <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel"#}
            {#                    style="width: 100%;height: 100%; text-align: center; padding-top: 10px; border-radius: 20px;">#}
            {#        <!-- 指示器 -->#}
            {#        <ol class="carousel-indicators" style="padding-top: 30px;">#}
            {#          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>#}
            {#          <li data-target="#carousel-example-generic" data-slide-to="1"></li>#}
            {#          <li data-target="#carousel-example-generic" data-slide-to="2"></li>#}
            {#        </ol>#}
            {#        <!-- 轮播图片及说明文字 -->#}
            {#        <div class="carousel-inner" role="listbox">#}
            {#          <div class="item active">#}
            {#            <img src="/static/images/e943e20ec1e118dde1ed869de360aafa.png" style="width: 1000px;height: 440px;" alt="图片1">#}
            {#          </div>#}
            {#          <div class="item">#}
            {#            <img src="/static/images/4a926626b6b0618ea0636b1c782d6283.png" style="width: 1000px;height: 440px;" alt="图片2">#}
            {#          </div>#}
            {#          <div class="item">#}
            {#            <img src="/static/images/71c317243ba2975780b74a1d01acc6a9.png" style="width: 1000px;height: 440px;" alt="图片3">#}
            {#          </div>#}
            {#        </div>#}
            {#        <!-- 控制按钮：左右切换 -->#}
            {#        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">#}
            {#          <span class="glyphicon glyphicon-chevron-left"></span>#}
            {#        </a>#}
            {#        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">#}
            {#          <span class="glyphicon glyphicon-chevron-right"></span>#}
            {#        </a>#}
            {#      </div>#}
            <h1 style="color: white; font-size: 100px; padding-top: 16.5%">作 者 系 统</h1>
        </div>
    </div>
{% endblock %}