{% extends "base.html" %}


{% block content %}
    {{ super() }}
<body style="background-image: url('/static/images/4a926626b6b0618ea0636b1c782d6283.png')">

<div class="row">
    <div class="col-md-4">
        <div style="text-align: center; color: #f8f8f8; height: 300px;padding-top: 80px; margin-right: 20px;">
            <p style="padding-left: 125px;">
                {{ session.get('username') }}&nbsp;&nbsp;
                {% if mypoint[0].c > 200 and info[0].isauthor == 0 %}
                    <a style="font-size: 14px; color: red">本站会员</a>
                {% elif mypoint[0].c > 0 and info[0].isauthor == 1 %}
                    <a style="font-size: 14px; color: red">认证作者</a>
                {% else %}
                    <a style="font-size: 14px; color: red">普通用户</a>
                {% endif %}

                <a style="font-size: 14px; color: red">积分&nbsp;&nbsp;{{ mypoint[0].c }}</a>
            </p>
            <img src="/static/images/bg3.png" width="100px;" height="100px;" style="border-radius: 50px;">
        </div>
    </div>
    <div class="col-md-8">
        <div style="text-align: center; color: #f8f8f8;  font-size: 14px;width: 800px; margin-top: 110px;margin-left: 20px;
        background-color: slategrey; border-radius:20px;" class="container">
            <hr>
            <p style="font-size: 18px; color: #f8f8f8">
                <a href="/userinfo" style="color: #f8f8f8; padding-left: 20px;">|我的主页|</a>
                <a href="/xiugaixinxi" style="color: #f8f8f8; padding-left: 20px;">|修改信息|</a>
                <a href="/mycollection"style="color: #f8f8f8; padding-left: 20px;">|我的收藏|</a>
{#                <a href="/mylike" style="color: #f8f8f8; padding-left: 20px;">|我喜欢的|</a>#}
                <a href="/myhistory" style="color: #f8f8f8; padding-left: 20px;">|历史记录|</a>
                {% if info[0].isauthor == 0 %}
                    <a href="/certification" style="color: #DAC804; padding-left: 20px;">|认证成为作者|</a>
                {% else %}
                    <a href="#" style="color: #DAC804; padding-left: 20px;">|作者系统|</a>
                {% endif %}
            </p>
            <hr>
        </div>
    </div>
</div>
<hr>
<div style="border-radius:20px;background-color: slategrey; text-align: center; width: 800px;" class="container">
    <p style="color: #FFFFFF;font-size: 18px;padding-top: 10px;">认证成为本站作者</p>
    <div style="text-align: center">
        <p style="color: red;font-size: 14px;padding-top: 5px; text-align: center">注：成为本站作者需上传自身身份信息提供认证
            本站不会泄露任何个人信息
        </p>
    </div>
    <form action="/certificate" method="post" class="form">
        <label style="font-size: 16px; color: white;font-family: STHeiti">账&nbsp;&nbsp;号&nbsp;&nbsp;</label>
        <input type="text" name="account" style="width: 250px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center;color: #1b6d85" readonly
         required placeholder="{{ session.get('account') }}" value="{{ session.get('account') }}"><br>
        <label>&nbsp;</label><br>
        <label style="font-size: 16px; color: white;font-family: STHeiti">昵&nbsp;&nbsp;称&nbsp;&nbsp;</label>
        <input type="text" name="username" style="width: 250px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center; color: #1b6d85"
          placeholder="{{ session.get('username') }}" value="{{ session.get('username') }}"><br>
        <label>&nbsp;</label><br>
        <label style="font-size: 16px; color: white;font-family: STHeiti">姓&nbsp;&nbsp;名&nbsp;&nbsp;</label>
            <input type="text" name="realname" style="width: 250px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center; color: #1b6d85" required placeholder="输入您的真实姓名"><br>
            <br>
        <label style="font-size: 16px; color: white;font-family: STHeiti">手&nbsp;&nbsp;机&nbsp;&nbsp;</label>
            <input type="tel" name="tel" style="width: 250px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center; color: #1b6d85" required placeholder="输入您电话号码"><br>
        <br>
            <label style="font-size: 16px; color: white;font-family: STHeiti">邮&nbsp;&nbsp;箱&nbsp;&nbsp;</label>
            <input type="email" name="email" style="width: 250px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center; color: #1b6d85" required placeholder="输入您的邮箱用于验证"><br>
        <br>
        <label style="font-size: 16px; color: white;font-family: STHeiti">验证码&nbsp;&nbsp;</label>
            <input type="text" name="code" style="width: 100px; height: 35px; font-family: KaiTi; border-radius:20px; text-align: center; color: #1b6d85" required placeholder="输入验证码">
            <input type="text" name="code_2" style="width: 100px; height: 35px; font-family: KaiTi; text-align: center; color: #1b6d85" readonly placeholder="{{ code }}" value="{{ code }}">

        <br>
        <br>

            <label style="padding-top: 5px;">&nbsp;
              {% for message in get_flashed_messages() %}
                {{ message }}
          {% endfor %}</label><br>
          <input type="submit" value="提交认证" style="width: 120px; text-align: center;" class="btn btn-primary">
    </form>
    <br>
</div>
<hr>
<div class="bottom" style="text-align: center; height: 100px; background-color: #5e5e5e;padding-top: 5px; border: 0px;">
<p style="font-size: 20px;">
    本站仅作学习使用 内容来源网络 与本人无关 若侵权请联系删除
</p>
<p style="font-size: 20px;">
    邮箱：xiaomu041@Gmail.com
</p>
</div>
</body>
{% endblock %}