{% extends "back_base.html" %}

{% block content %}
    {{ super() }}
    <div class="row">
        <div class="col-md-3" style="width: 20%; height: 600px; margin-top: 10px;
            text-align: center; border-radius: 20px; margin-left: 30px; color: black">
            <a href="/background/management/system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #bee5f9; border-radius: 20px; font-size: 20px; color: black">快捷菜单 ⬇⬇⬇</div></a>
            <a href="/class_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #DAC804; border-radius: 20px; font-size: 20px; color: black">分类管理</div></a>
            <a href="/background_author_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #00aabb; border-radius: 20px; font-size: 20px; color: black">作者管理</div></a>
            <a href="/book_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #8c8c8c; border-radius: 20px; font-size: 20px; color: black">书籍管理</div></a>
            <a href="/member_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #c1e2b3; border-radius: 20px; font-size: 20px; color: black">会员管理</div></a>
            <a href="/publicity_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #ce8483; border-radius: 20px; font-size: 20px; color: black">公告管理</div></a>
            <a href="/data_system"><div style="height: 14.7%; text-align: center;padding-top: 10%; background-color: #f1ddb8; border-radius: 20px; font-size: 20px; color: black">网站数据</div></a>
        </div>
        <div class="col-md-7" style="width: 76%; height: 640px;background-color: #c9e2b3; margin-top: 10px;
            text-align: center; border-radius: 20px; margin-left: 0px;">
            <div style="padding-top: 20px;">
                <p style="font-size: 36px;">
                    站点数据__分类比例图
                </p>
                <hr>
                <iframe src="/data/3" width="80%" height="500px"></iframe>

            </div>
        </div>
    </div>

{% endblock %}