<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body style="background-color: lightgrey">

<div class="container-fluid">
    <div class="row" id="title">
        <div class="col-9 col-md-10"><p>Angel影视</p></div>
        <div class="col-3 col-md-2"><p>？</p></div>
    </div>
    <div class="row" id="null">
        <div class="col-12"></div>
    </div>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/t018324b99e828f081b.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                {#              <h5>First slide label</h5>#}
                                {#              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>#}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/t0129f7f4179dc93bfd.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                {#              <h5>Second slide label</h5>#}
                                {#              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>#}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/t011e981d4dfae39117.jpg" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                {#              <h5>Third slide label</h5>#}
                                {#              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>#}
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="title_row">
        <hr>
        <div class="col-10" id="text_left">
            <p>|| 热门电影</p>
        </div>
        <div class="col-2" id="text_right">
            <p>
                <a href="/fenlei">
                    更多>
                </a>
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; background-color: white">
        {% for i in data['video'][0:6] %}
            <div class="col-4">
                <a href="/details/{{ i['video_link'] }}">
                    <img src="{{ i['video_img'] }}" style="width: 280px; height: 400px;">
                    <div style="text-align: center; font-size: 2.5rem; color: black">{{ i['video_title'] }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin-top: 10px; background-color: #9d9d9d; height: 100px;">
        <hr>
        <div class="col-10">
            <p style="font-size: 4rem">|| 热播电视剧</p>
        </div>
        <div class="col-2">
            <p style="font-size: 3rem; line-height:100px">更多></p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; background-color: white">
        {% for i in data['tv'][0:8] %}
            <div class="col-6">
                <a href="/details/{{ i['tv_link'] }}">
                    <img src="{{ i['tv_img'] }}" style="width: 450px; height: 300px;">
                    <div style="text-align: center; font-size: 2.5rem; color: black">{{ i['tv_title'] }}</div>
                    <p style="text-align: center; font-size: 2rem; color: gold">{{ i['tv_update'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row" style="margin-top: 10px; background-color: #9d9d9d; height: 100px;">
        <hr>
        <div class="col-10">
            <p style="font-size: 4rem">|| 热播综艺</p>
        </div>
        <div class="col-2">
            <p style="font-size: 3rem; line-height:100px">更多></p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; background-color: white">
        {% for i in data['shows'][0:6] %}
            <div class="col-6">
                <a href="/details/{{ i['shows_link'] }}">
                    <img src="{{ i['shows_img'] }}" style="width: 450px; height: 300px;">
                    <div style="text-align: center; font-size: 2.5rem; color: black">{{ i['shows_title'] }}</div>
                    <p style="text-align: center; font-size: 2rem; color: gold">{{ i['shows_update'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="row" style="margin-top: 10px; background-color: #9d9d9d; height: 100px;">
        <hr>
        <div class="col-10">
            <p style="font-size: 4rem">|| 热播动漫</p>
        </div>
        <div class="col-2">
            <p style="font-size: 3rem; line-height:100px">更多></p>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; background-color: white">
        {% for i in data['animation'][0:6] %}
            <div class="col-6">
                <a href="/details/{{ i['animation_link'] }}">
                    <img src="{{ i['animation_img'] }}" style="width: 450px; height: 300px;">
                    <div style="text-align: center; font-size: 2.5rem; color: black">{{ i['animation_title'] }}</div>
                    <p style="text-align: center; font-size: 2rem; color: gold">{{ i['animation_update'] }}</p>
                </a>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12" style="height: 100px;"></div>
    </div>

    <div class="row" style="bottom: 0; z-index: 9999; position: fixed ! important; background-color: #f7f7f7;
                            width: 100%; margin-top: 10px; text-align: center; height: 100px">
        <div class="col-3">
            <p style="font-size: 1.5rem;">
                <a href="/angel_movie">
                    <img src="/static/images/movie_index.png" width="60px" height="60px">
                    <br>
                    首页
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/fenlei">
                    <img src="/static/images/movie_fenlei.png" width="60px" height="60px">
                    <br>
                    分类
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/movie_sousuo">
                    <img src="/static/images/movie_sousuo.png" width="60px" height="60px">
                    <br>
                    搜索
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/movie_wode">
                    <img src="/static/images/movie_wode.png" width="60px" height="60px">
                    <br>
                    我的
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>