<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/details.css">
</head>
<body style="background-color: white">

<div class="container-fluid">
    <div class="row" id="top_button">
        <div class="col-9 col-md-10"><p>◀</p></div>
        <div class="col-3 col-md-2"><p>❓</p></div>
    </div>
    <div class="row">
        <div class="col-12" id="null"></div>
    </div>

    <div class="row" id="top_detail">
        <div class="col-4">
            <img src="{{ data['tv_img'] }}">
        </div>
        <div class="col-8">
            <p id="v_title">{{ data['tv_title'] }}</p>
            <p>时间：{{ data['tv_date'] }}</p>
            <p>地区：{{ data['tv_add'] }}</p>
            <p>更新至：{{ data['tv_update'] }}</p>
            <p>主演：{{ data['tv_class'][0:25] }}...</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-12" id="null_2">
            <p>剧集</p>
        </div>
    </div>
    <br>

    <div class="row" id="ji">
        {% for i in data['ji'] %}
            <div class="col-2" style="text-align: center; font-size: 3rem">
                <a href="/play/{{ i['tv_ji_href'] }}">
                    {{ i['tv_ji_title'] }}
                </a>
            </div>
        {% endfor %}
    </div>

    <br>
    <div class="row">
        <div class="col-12" id="null_2">
            <p>剧情描述</p>
        </div>
    </div>
    <div class="row" id="descibe">
        <div class="col-12">{{ data['tv_describe'] }}</div>
    </div>


    <div class="row">
        <div class="col-12" style="height: 100px;"></div>
    </div>

    <div class="row" style="bottom: 0; z-index: 9999; position: fixed ! important; background-color: #f7f7f7;
                            width: 100%; margin-top: 10px; text-align: center; height: 100px">
        <div class="col-3">
            <p style="font-size: 1.5rem;">
                <a href="/angel_movie">
                    <img src="/static/images/movie_index.png" width="60px" height="60px">
                    <br>
                    首页
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/fenlei">
                    <img src="/static/images/movie_fenlei.png" width="60px" height="60px">
                    <br>
                    分类
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/movie_sousuo">
                    <img src="/static/images/movie_sousuo.png" width="60px" height="60px">
                    <br>
                    搜索
                </a>
            </p>
        </div>
        <div class="col-3">
            <p style="font-size: 1.5rem">
                <a href="/movie_wode">
                    <img src="/static/images/movie_wode.png" width="60px" height="60px">
                    <br>
                    我的
                </a>
            </p>
        </div>
    </div>
</div>
</body>
</html>